*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(201, 253, 236);
}
nav{
    background-color: rgb(46, 255, 203);
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    
}
li{
    margin: 10px;
    padding: 5px;
    background-color: rgb(3, 95, 52);    
}
a{
        text-decoration: none;
        color: rgb(255, 145, 0);
}
h1{
    text-align: center;
    font-size: 50px;
    margin: 10px;
}
.seccionUno{
    background-color: antiquewhite;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    border-radius: 10px;
}
.seccionUno p{
    color: black;
}
.seccionUno div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
    align-items: center;
}